$page-width: 1160px;
$page-padding-x: 0;

$primary-400: #4fdfce65;
$primary-500: #4ed8c8;
$primary-600: #46afa3;
$txt-on-primary: #fff;

$gray-200: #F8F8F8;
$gray-300: #E7E7E7;
$gray-400: #d8d8d8;
$gray-800: #8C8C8C;
$gray-900: #6b6b6b;
$black-500: #3d3d3d;

.header{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../public/assets/images/hero.jfif'); 
    min-height: 40vh;
    border-radius: 0px 0px 80px 80px;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:before{
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        right: 0;
        bottom: 0;
        z-index: -1;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) -9%, rgba(196, 196, 196, 0) 95%);
    }

    &__title{
        color: #fff;
        font-size: 45px;
        margin: auto;
        padding: 0 16px 0 16px;  
    
        @media screen and (max-width: 700px) {
            font-size: 35px;
        }
    }
}

.App{
    margin: auto;
}
  
.nav{
    height: 70px;
    max-width: $page-width;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
}

*{
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    transition: .3s;
}

label{
    cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.form{
    gap: 12px 32px;
    background-color: #fff;
    margin: 0 auto;
    transform: translateY(-50%);
    align-self: flex-end;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 18px;
    box-shadow: 0px 4px 20px 10px rgba(0, 0, 0, 0.1);
    width: fit-content;

    @media screen and (max-width: 700px) {
        transform: translateY(-50px);
    }

    &__btn{
        padding: 16px 24px;
        font-size: 1.2em;
        color: $txt-on-primary;
        text-decoration: none;
        text-align: center;
        font-weight: 500;
        border-radius: 12px;
        background-color: $primary-500;
        border: none;
        margin-left: auto;
        flex-grow: 1;

        &:hover{
            background-color: $primary-600;
        }

        &:focus-within{
            box-shadow: 0px 0px 0px 5px $primary-400;
        }

        &:focus{
            outline: none;
        }
    }
}

.rating-filter{
    flex-direction: column;
    &__label{
        width: 100%;
        margin-bottom: 4px;
    }
}

.counter{
    &__input{
        width: 3ch;
        background-color: $gray-200;
        color: $black-500;
        border: none;
        border-radius: 10px;
        font-size: 20px;
        text-align: center;
        height: 50px;
        margin-left: 6px;
        margin-right: 6px;
    }
}

.rating-filter{
    &__input{
        align-self: flex-start;
    }
}

.counter,
.rating-filter{
    border: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    height: fit-content;
    flex-grow: 1;

    &__label{
        min-width: min-content;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        padding-right: 24px;
        align-self: flex-start;
        color: $gray-800;

        &__header{
            font-weight: 600;
            font-size: 1.2em;
            color: $black-500;
        }
    }

    &__btn{
        width: 40px;
        height: 40px;
        background-color: $gray-300;
        color: $black-500;
        border: none;
        border-radius: 13px;

        &--disabled{
            opacity: .2;
            cursor: not-allowed;
        }
    }
}

button{
    cursor: pointer;
}

.main{
    max-width: $page-width;
    margin: auto;
}

.card{
    padding: 24px;
    border-radius: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 48px;
    box-shadow: 0px 4px 10px 5px rgba(151, 151, 151, 0.1);


    &__header{
        display: flex;
        margin-bottom: 32px;
        width: 100%;
        flex-wrap: wrap;
        gap: 32px;
    }

    &__details{
        width: 40%;
        display: flex;
        flex-wrap: wrap;
        align-self: baseline;

        @media screen and (max-width: 750px) {
            width: 100%;
        }

        &__title{
            min-width: 100%;
            color: $black-500;
            font-size: 30px;
            margin-bottom: 24px;
        }

        &__location,
        &__rating{
            width: 50%;
            font-size: 1.2em;

            &__title{
                margin-bottom: 8px;
                color: $black-500;
                font-weight: 400;
            }

            &__address{
                color: $gray-800;
                font-size: .9em;
            }
        }
    }

    &__gallery{
        width: 50%;
        flex-grow: 1;

        & > *{
            border-radius: 15px;

        }
    }

    &__body{
        width: 100%;

        &__title{
            font-size: 20px;
            color: $gray-900;
            margin-bottom: 24px;
        }
    }
}

.room{
    display: flex;
    flex-wrap: wrap;
    border-top: 2px solid $gray-300;
    padding: 32px 0;
    gap: 16px;

    &:not(:last-of-type){
        margin-bottom: 64px;
    }

    &__header{
        width: 300px;
        max-width: 100%;
        flex-grow: 2;

        &__title{
            color: $black-500;
            font-size: 25px;
        }

        &__slots{
            margin-top: 12px;
            display: flex;
            flex-wrap: wrap;

            &__category{
                color: $gray-900;
                margin-right: 16px;
                border: 2px solid $gray-300;
                border-radius: 5px;
                padding: 4px 8px;
            }
        }
    }

    &__body{
        color: $gray-800;
        font-size: 18px;
        flex-grow: 1;
        width: calc(100% - 350px);

        @media screen and (max-width: 750px) {
            width: 100%;
        }
    }
}

.carousel{
    overflow: hidden;
    position: relative;
    height: 400px;

    &__content{
        width: 100%;
        height: 100%;
        white-space: nowrap;
        transition: transform 0.3s;
        &__img{
            position: absolute;
            object-fit: cover;
            width: 100%;
            height: 100%;
            z-index: -1;

            &--active{
                z-index: 1;
            }
        }
    }

    &__controlers{
        z-index: 4;
        top: 0;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        position: absolute;

        &__btn{
            border-radius: 0;
            border: 0;
            height: 100%;
            width: 15%;
            max-width: 80px;
            color: #fff;
            background: #00000018;
            transition: .3s;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover{
                background: #0000003a;
            }

            svg{
                width: 50px;
            }
        }
    }
}

.card__gallery__img{
    object-fit: cover;
    width: 100%;
    height: 400px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: unset;
}

p{
    line-height: 1.6;
}

address{
    font-style: normal;
}